@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Privacy</h1>
    </div>
</div>

<div class="container">
    <div class="mb-5 p-5" style="font-size: 16px">
        <p>All copy rights reserved to Aiden Seo.</p>
    </div>
</div>
